#header{
    background-color: rgb(43, 226, 226);
    text-align: center;
    padding: 20px;
    border: 2px solid red;
}
#main-content{
    background-color:rgb(236, 230, 175);
    text-align: center;
    padding: 20px;
}
#footer{
    background-color: rgb(18, 143, 49);
    text-align: center;
    padding: 20px;
}
